
#features{
    margin-top: 5vh;
    margin-bottom: 5vh;
    
  }

 /* .row{
   margin-top:50px;
 } */
  .container2 {
    
    position: relative;
    margin: auto;
    
    display: grid;
    
  }
  
  .items {
   
    padding-top: 50px;
    width: 50vw;
    background: #fffffe;
    box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
    position: relative;
    
    
  }
  
 .line{
   height:2px;
   background:rgb(152, 169, 187);
   width:60%;
   position:absolute;
   top:60%;
   left:50%;
   transform:translate(-50%,-50%);
   animation: animateline 2s linear ;
 }

 @keyframes animateline{
  0% {
    left: 0;
}

50% {
    left: 50%;
}

0% {
    left: 0;
}
}
 

  
  
.carousel-inner{
  padding-bottom: 10px;
}
  


.carousel-item{
    width:10vw;
    align-items:center;
}

.carousel-item img{
    height: 83vh;
    width:auto;
    position:relative;
    left:50%;
    transform:translate(-50%);
    
}


.items-body{
    color:green;
    margin-top: 10vh;
    font-size: 28px;
    text-align: center;
    font-weight:bold;
    
}


.items-head{
    margin-top: 7vh;;
}

.items-head p{
    text-align:center;
    padding: 5px 20px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 50px;
    
  }
  
  .items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
  }

  
  .items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
  }
  
  



/* #featureDesc:before{
    content:'';
    animation:animateFeature infinite 12s;
}

@keyframes animateFeature{
    0%{
        content:'Go Online and receive orders';
    }
    15%{
        content:'Go Online and receive orders';
    }
    40%{
        content:'Notify Customer When Order is Ready & update prices';
    }

    70%{
        content:'Rate Customer Behaviour';}
    100%{
        content:'Manage Your Inventory';}
} */



@media screen and (max-width: 500px){

    .items {
        width: 85vw;
        height:auto;
        position: relative;
        top: 10%;  }

    .carousel-item{
        width:10vw;
        align-items:center;
    }
    
    .carousel-item img{
        height: 60vh;
        width:auto;
        position:relative;
        display:flex;
        align-items:center;
        
        
    }
    
    
    .items-body{
        color:green;
        font-size: 20px;
        text-align:center;
        font-weight:bold;
        
    }
    
    
    .items-head{
        margin-top: 7vh;
        text-align: center;
    }

    .items-head p{
        padding: 5px 20px;
        color: #0B5AA2;
        font-weight: bold;
        font-size: 30px;
        
      }
      
      .items-head hr {
        width: 20%;
        margin: 0px 30px;
        border: 1px solid #0B5AA2;
      }
      }
      
      .items-head hr {
        width: 20%;
        margin: 0px 30px;
        border: 1px solid #0B5AA2;
      }

